@charset "utf-8";
/* CSS Document */
body{
    width:90%;
	max-width: 900px;
	margin:60px auto;
}
.left{
	background-color: rgba(75,128,194,1.00);
	float:left;
	height:830px;
	width:25%;
	margin-bottom: 60px;
}
.right{
	float:right;
	width:65%;
	height:100%;
	margin-bottom: 60px;
}
h1{
	color:white;
}
td{
	padding-right: 30px;
	padding-left:15px;
}
p,td{
	font-weight:bold;
}