@charset "utf-8";
/* CSS Document */
body{
	margin:50px 150px;
	max-width: 900px;
	width:90%;
}
th,p{
	font-weight: bold;
}
td{
	padding-right:40px;
}
p{
	margin:0px;
}
h1,h2,h3,div,table{
	margin:20px;
}
