@charset "utf-8";
/* CSS Document */
body{
	background-color:rgba(183,177,226,0.5);
	border-bottom-style:outset;
	border-width:20px;
	border-top-style:outset;
	border-color:rgba(22,22,142,0.51);

	margin:0px 40px 0px 40px;
	padding: 20px;

}
h1{

	text-align:center;
	color:rgba(24,50,120,1.00);
	margin-top: 10px;
}
h2{
	color:rgba(24,50,120,1.00);
	border-bottom-style:outset;
	border-bottom-width:3px;
	border-bottom-color:rgba(58,66,169,0.92);
	padding-bottom:10px;
}
th,td,li{
	font-size:18px;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color:rgba(30,33,64,1.00);
}
ul{
	margin-bottom:20px;
}
table{
	width:85%;
	text-align: left;
}