@charset "utf-8";
/* CSS Document */

body{
	margin:50px 50px;
}

.table_1{
	border:solid;
	border-width:medium;
	border-color: rgba(156,156,156,1.00);
	border-collapse:collapse;
	width:100%;
}

.table_2{
	border-collapse: collapse;
	border:none;
	margin:20px;
}

.head{
	height:50px;
	background-color: rgba(112,112,112,1.00);
	color: rgba(251,251,251,0.7);
}
.border{
	
	border: 3px solid;
	width:5%;
	border-color:rgba(211,211,211,1.00);
	border-collapse:collapse;
}

#border_1{
	border: 3px solid;
	width:2%;
	border-color:rgba(211,211,211,1.00);
	border-collapse:collapse;
	background-color:rgba(156,156,156,0.76);
	height:90px;
	
}
#margin{
	margin:20px;
}
#margin_1{
	margin-top:0px;
}
#margin_2{
	margin-bottom: 0px;
}
#margin_3{
	padding-right:55px;
	padding-left:15px;
}
/*tr,td,th{
	border: 1px solid;
	width:inherit;
}*/
	
