body{
	background-color:gray;
}
#container{
	background-color:white;
	margin:100px auto 0;
	padding:15px;
	text-align:center;
	width:80%;
	box-shadow:10px 10px 10px rgba(10,10,10,0.8);
}
hr{
	width:70%;
	border:darkgreen 1px solid;
}

/*设置提交框样式*/
input{
width:15%;
margin:10px;
height:20px;
border:darkgreen 1px dashed;
}

/*设置按钮样式*/
button{
	width:10%;
	height:50px;
	margin:10px;
	background-color:rgba(23,99,114,0.9);
	color:white;
	font-size:20px;
	font-weight:bold;
	box-shadow:4px 4px 4px rgba(23,99,114,0.6);
	border:0px;
}
button:hover{
	background-color:rgba(4,83,103,1.00);
}