@charset "utf-8";
/* CSS Document */
body{
	width:1150px;
	height:100%;
	margin:0px;

}

.main{
	position:relative;
}

/*左侧边栏设置*/
.left{
	width:100px;
	
	overflow:hidden;
	background-color:#1d2531;
	float:left;
	position:absolute;
	left:0px;
	bottom: 0;
	top:0;
}
.left-top{
	 
	position:absolute;
	top:0;
	text-align: center;
	
}
.a2{
	display:inline-block;
	margin-top:15px;
}

.left-bottom{
	width:100%;
	position:absolute;
	bottom:10px;
	text-align: center;
	
}
.a3{
	display:inline-block;
	margin:0 10px 0 10px;
}

/*导航部分*/
.nav{
	width:250px;
	height:100%;
	overflow: hidden;
	background-color:#222c3c;
	margin-left:100px;
	position:absolute;
	left:0px;
	bottom:0px;
	top:0px;
}


.white{
	color:#b7c0cd;
}
.white1{
	color:#313c4c;
}


/*设置表格*/

.table1{
	width:80%;
	margin:25px auto 25px auto;
	padding-bottom:25px;
	
}


.table1 td{
	padding:8px 0 8px 0;
	font-size:14px;
}
/*设置消息栏的超链接*/
.a4{
	color:#b7c0cd;
	text-decoration: none;
	text-align: left;
}
/*导航栏里的右边图标排列对齐设置*/
.item{
	text-align:right;
}

.line{
	border-bottom: solid;
	border-bottom-width: thin;
	border-bottom-color: #313c4c;
}

.nav-bottom{
	width:100%;
	position:absolute;
	left:0px;
	bottom:5px;
	text-align: center;
}


/*内容部分右边,因为它的宽度需要自适应，左侧两边用float：left提上去，然后最后一栏自动附上去宽度自适应，所以要最后设置这一块*/
.content{
	width:100%;
	height:1400px;
	overflow: hidden;
	margin:0 350px;
	position:relative;

}

/*右上角部分*/
.right-top{
	width:100%;
	height:80px;
	position:relative;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #e6e9ec;
}
.right-top1{
	position:absolute;
	right:10px;
	top:15px;
	
}

.right-top2{
	margin-left:30px;
	line-height:80px;
	 
}

.right-left{
	width:400px;
	height:auto;
	overflow:hidden;
	position:absolute;
	left:0;
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: #e6e9ec;

	
}
.right-left-top{
	
	height:70px;
	display:flex;
	align-items:center;
	justify-content: center;
}

.right-right{
	margin:0 0 0 400px;
}

.right-right-top{
	height:70px;
	display:flex;
	align-items: center;
	position:relative;
}

.rightright{
	position:absolute;
	right:10px;
}

.rightright1{
	position:absolute;
	right:170px;
	display: inline-block;
	padding:0 30px;
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: #e6e9ec;
	
}

.right-right-top-font{
	font-weight: normal;
	margin-left:30px;
}


/*右侧左边内容部分*/
.right-left-colm{
	display:flex;
	flex-direction: column;
	
}

.linebottom{
	border-top-style:solid;
	border-top-width:thin;
	border-top-color: #e6e9ec;
	padding-bottom:30px;
	 
}

/*内容表格部分*/
.table2{
	margin-left:30px;
	margin-right:10px;
	margin-top:20px;
}
.lighter{
	font-weight: lighter;
	font-size:15px;
}
.blue{
	color:#00aaff;
}

.bottom{
	margin-bottom:0px;
}
.paddingright{
	width:20px;
	padding-right:15px;
}
.top{
	margin-top:0px;
	font-size:13px;
	color:#dcdcdc;
}
.silver{
	color:#99a5b6;
}

/*最右侧内容部分*/

.right-content{
	padding:0 30px;
	margin-bottom:0px;
	position:relative;

}
 
.top1{
	padding-right:20px;
	display:flex;
	
}
.margin0{
	margin-top:0px;
}

.bottom1{
	padding-bottom:30px;
}

.message{
	margin:25px 0px ;
	text-align:center;
}


/*分割线实现*/
.line0{
	width:100%;
	height:40px;
	margin-bottom: 20px;
	margin-top:0px;
	border-style: none;
	position:relative;
}
.line1{
	width:40%;
	height:10px;
	position:absolute;
	left:0;
	border-bottom-style: solid;
	border-bottom-width: thin;
	
}
.line2{
	width:40%;
	height:10px;
	position:absolute;
	right:0;
	border-bottom-style: solid;
	border-bottom-width: thin;
}
.text{
	font-size:16px;
	position:absolute;
	top:-5%;
	 left:43%;
	
	
}
/*第一根分割线和第二根分割线的颜色*/
.color1{
color: #e6e9ec;
	
}
.text1{
	color: #99a5b6;
}

.color2{
		color:#4fadf4;
	
}
.green{
	font-size: 35px;
	color:#1bb934;

}
.blue{
	font-size: 20px;
}

